<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Создание категории расходов</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="row  justify-content-end mb-3 mb-sm-5 g-0">
    <div class="col-11 px-0 g-0">
        <h1 class="   pt-5 ps-0 mb-3 ">Создание категории расходов</h1>
    </div>
</div>
<div class="row  justify-content-end g-0">
    <div class="row col-11 g-0">
        <form class=" ms-0 g-0">
            <div class="col-9 col-sm-6 col-md-5 col-lg-4 mb-4">
                <label class="form-label"></label>
                <input type="text" class="form-control" id="example" placeholder="Название...">
            </div>
            <button type="button" class="btn btn-success  me-3">Создать</button>
            <button type="button" class="btn btn-danger">Отмена</button>
        </form>
    </div>
</div>


<script src="../src/bootstrap.min.js"></script>

</body>
</html>