<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Создание дохода/расхода</title>

    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="row justify-content-end mb-3 mb-sm-5 g-0">
    <div class="col-11 px-0 g-0">
        <h1 class=" pt-5 ps-0 mb-5 ">Создание дохода/расхода</h1>
        <form class="form-input  col-9 col-sm-7 col-md-6 col-xxl-5 mb-4">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Тип...">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Категория...">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Сумма в $...">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Дата...">
            </div>
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Комментарий...">
            </div>
            <button type="button" class="btn  btn-success px-4 px-sm-3 me-2 mb-2">Создать</button>
            <button type="button" class="btn   btn-danger px-4 px-sm-3 mb-2">Отмена</button>
        </form>
    </div>
</div>



<script src="../src/bootstrap.min.js"></script>
</body>
</html>