<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <title>Доходы</title>

    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="row justify-content-end mb-5 g-0">
    <div class="col-11">
        <h1 class=" pt-5 ps-5 mb-3 ">Доходы</h1>
    </div>
</div>

<div class="d-flex justify-content-end  me-0">
    <div class="row col-11 g-0">
        <div class="border rounded col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 ms-5 mb-5 p-3 px-sm-3 px-1">
            <h4 class="mb-3">Депозиты</h4>
            <div class="d-flex d-flex flex-sm-nowrap flex-wrap">
                <button class="btn btn-primary me-2 mb-2">Редактировать</button>
                <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить
                </button>
            </div>
        </div>
        <div class="border rounded col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 ms-5 mb-5 p-3 px-sm-3 px-1">
            <h4 class="mb-3">Зарплата</h4>
            <div class="d-flex d-flex flex-sm-nowrap flex-wrap">
                <button class="btn btn-primary me-2 mb-2">Редактировать</button>
                <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить
                </button>
            </div>
        </div>
        <div class="border rounded col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 ms-5 mb-5 p-3 px-sm-3 px-1">
            <h4 class="mb-3">Сбережения</h4>
            <div class="d-flex d-flex flex-sm-nowrap flex-wrap">
                <button class="btn btn-primary me-2 mb-2">Редактировать</button>
                <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить
                </button>
            </div>
        </div>
        <div class="border rounded col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 ms-5 mb-5 p-3 px-sm-3 px-1">
            <h4 class="mb-3">Инвестиции</h4>
            <div class="d-flex d-flex flex-sm-nowrap flex-wrap">
                <button class="btn btn-primary me-2 mb-2">Редактировать</button>
                <button class="btn btn-danger mb-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить
                </button>
            </div>
        </div>
        <div class="border rounded col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 ms-5 mb-5 p-3 px-sm-3 px-1 d-flex justify-content-center cursor-pointer"
             id="add-category">
            <img src="../static/images/plus.svg" class="align-self-center " alt="Plus">
        </div>
    </div>
</div>

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content  p-3 ">
            <div class="modal-body d-flex flex-column align-items-center">
                <p class="text-nowrap">Вы действительно хотите удалить категорию?<br>
                    Связанные доходы будут удалены навсегда.</p>
                <div class="modal-button">
                    <button type="button" class="btn btn-success  me-3" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger ">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../src/bootstrap.min.js"></script>
</body>
</html>